.dialogue {
  margin-bottom: 2rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  display: block;
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--color-light-black);
  border-radius: 8px;
  outline: none;
}
