.content_flashcard {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
}

.left {
  color: var(--color-primary);
  flex: 2;
}

.contentLeft {
  border-radius: 15px;
  line-height: 1.15;
  padding: 24px;
  background-color: white;
  color: var(--color-heading);
}

.right {
  margin-left: 132px;
  display: block;
  flex: 6;
}

.right h3 {
  color: var(--color-primary);
}

.flachcardPage {
  display: flex;
  justify-content: center;
}

.card {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  background-color: white;
  transform-style: preserve-3d;
  height: 250px;
  width: 450px;
  transition: 300ms;
  cursor: pointer;
  transform: perspective(1500px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}

.card:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.card.flip {
  --rotate-y: 180deg
}

.card .front,
.card .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}

.flashcardOptions {
  margin-top: 0.5rem;
}

.flashcardOption {
  margin-top: 0.25rem;
  color: #555;
  font-size: 0.9rem;
}

.check_box {
  margin-top: 10px;
}

.check_box:hover {
  color: var(--color-primary)
}

.check_box label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.check_box input {
  width: 22px;
  height: 22px;
  margin-right: 15px;
  display: inline-block;
  cursor: pointer;
}

.bottom {
  margin-top: 15px;
  display: flex;
  width: 100%;
  justify-content: left;
  align-items: center;
}

.secondaryBtn {
  margin-left: 20px;
  cursor: pointer;
  display: block;
  color: var(--color-primary);
}

.secondaryBtn:hover {
  text-decoration: underline;
}

.learnPage {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

.cardNavigator {
  margin-top: 30px;
  display: flex;
  align-items: center;
  margin-left: 150px;
}

.monitor {
  padding: 7px 10px;
  margin: 0 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.arrowBtn {
  border: none;
  color: var(--color-primary);
}

.arrowBtn {
  border: none;
  background-color: var(--color-bg);
  font-size: 2rem;
  font-family: var(--font-text);
  color: var(--color-primary);
  width: 2rem;
  height: 2rem;
}
.arrowBtn:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.arrowBtn:disabled {
  color: grey;
}
.arrowBtn:disabled:hover {
  transform: scale(1);
  cursor: auto;
}
.num_selector {
  font-size: 1rem;
  font-family: var(--font-text);
  -webkit-appearance: none;
  padding: 1px 4px;
  text-align: center;
}
.num_selector:hover {
  cursor: pointer;
}
.activeSubject {
  background-color: #ed6789 !important;
  color: white !important;
}