@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Pacifico&family=Splash&display=swap");

@import "normalize.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-primary: #ed6789;
  --color-second: #ffa7a0;

  --color-text: #fff;
  --color-heading: #4e4e4e;
  --color-light-black: #afafaf;

  --color-bg: #f9f9f9;

  --font-heading: "Montserrat", sans-serif;
  --font-logo1: "Pacifico", sans-serif;
  --font-logo2: "Splash", sans-serif;

  --size-navigation: 18rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
