.container-beginner {
  text-decoration: none;
}
.pageBeginner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  padding-top: 12px;
}
.item_link {
  text-decoration: none;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
}
.containerItem {
  padding: 10px;
  background-color: white;
  color: var(--color-primary);
  border-radius: 7px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: transform linear 0.1s;
  will-change: transform;
}
.containerItem:hover {
  transform: translateY(-2);
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}
.item_img {
  width: 250px;
  height: 200px;
  border-radius: 5px;
  list-style: none;
}
.item_description {
  padding-top: 10px;
}
.item_title {
  min-height: 70px;
  color: var(--color-primary);
  padding-top: 20px;
}
.item_text {
  color: var(--color-heading);
  height: 50px;
}
/* LessonDetail */
.ld_container {
  text-align: Left;
  position: relative;
}
.showPathway{
  position: absolute;
  width: 50%;
  right: 0;
  top: 60px;
  z-index: 1;
  background-color: #1c1c1e;
  color: white;
}
.showPathway_container{
  
  color: white;
  margin: 10px;
  padding: 10px;

}
.showPathway_Link{
  text-decoration: none;
  color: white; 
}

.showPathway_content{
  padding: 10px;
  margin: 10px;
  display: flex;
  background-color: #323235;
  border-radius: 7px;
  justify-content: space-between;
}
.showPathway_contentLeft{
  display: flex;
}
.showPathway_count{
  font-size: 25px;
  padding-top: 20px;
  padding-left: 10px;
}
.showPathway_title{
  margin: 0 15px;
  padding:  10px;
}
.showPathway_title h3{
  margin-bottom: 10px;
}
.showPathway_contentRight{
  width: 20px;
  height: 20px;
  content: "";
  border-radius: 50%;
  margin-right: 10px;
  margin: auto 10px;
  cursor: pointer;
}
/* lesson detail bar */

.ld_bar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: #1c1c1e;
  color: white;
  padding: 10px;
}
.ld_bar_left {
  text-align: left;
  padding-left: 20px;
}
.ld_bar_step {
  display: flex;
  margin-right: 30px;
}
.ld_bar_step_arrow {
  margin-top: 20px;
  height: fit-content;
}
.ld_bar_step_des {
  line-height: 40px;
  padding: 0 20px;
}

.ld_bar_subTitle {
  opacity: 0.7;
}
.ld_bar_subTitle_completed {
  padding-left: 10px;
}
.ld_bar_right {
  display: flex;
}

.ld_bar_showbtn {
  padding: 0 20px;
  line-height: 40px;
}
/* lesson detail banner */
.ld_baner {
  margin: 0 auto;
  text-align: center;
  border: 1px solid var(--color-heading);
}
.ld_baner h1 {
  color: var(--color-primary);
  padding: 20px 0;
}
.ld_baner p {
  padding-bottom: 20px;
}
.ld_banner__category {
  padding: 20px 0;
 
}
.ld_banner__category span {
  display: inline-block;
  margin-right: 10px;
}
/* detail content */

.ld_container_content {
  border: 1px solid #999;
  border-top: none;
  width: 80%;
  margin: 0 auto;
}
.ld_content_sidebar {
  list-style: none;
  display: block;
  padding: 0px 20px;
  border-bottom: 1px solid var(--color-heading);
}
.ld_content_sidebar a {
  text-decoration: none;
  padding: 20px 0;
  color: var(--color-heading);
}
.ld_content_sidebar li:hover {
  color: var(--color-primary);
  border-bottom: 3px solid var(--color-primary);
}
.ld_content_sidebar li{
  display: inline-block;
  padding: 20px;
  font-size: 1.2rem;
}
/* dialog */
.dialogue_container {
  padding: 20px;
  border-bottom: 1px solid var(--color-heading);
}
.dialogue_header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.dialogue_content{
  padding: 0 30px;
}
.dialogue_header h3{
  justify-content: center;
}
.dialogue_textVn {
  padding: 10px;
}
.dialogue_textVn p {
  padding: 5px;
}
.dialogue_textVn h4 {
  margin-bottom: 10px;
}
.dialogue_textEng {
  padding: 10px;
}
.dialogue_textEng p {
  padding: 5px;
}
.dialogue_textEng h4 {
  padding: 10px;
}
/* vocabulary */
.vocabulary_container {
  padding: 20px;
  border-bottom: 1px solid var(--color-heading);
}
.vocabulary_header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.vocabulary_content{
  padding: 0 30px;
}
.vocabulary_item_difenition {
  position: relative;
}
.vocabulary_item_vn {
  padding-top: 10px;
  display: inline-block;
}
.vocabulary_item_eng {
  color: var(--color-heading);
  padding: 10px 0;
}
.vocabulary_item_example p {
  padding: 5px;
  padding-left: 20px;
}
.vocabulary_item_br {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-heading);
}
.vocabulary_item_icon {
  position: absolute;
  right: 0px;
  top: 10px;
}
/* notes */
.notes_container {
  padding: 20px;
  border-bottom: 1px solid var(--color-heading);
}
.notes_container_header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.notes_content{
  padding: 0 30px;
}
.notes_container h4 {
  margin: 20px 0;
}
.notes_forcus p {
  padding: 5px;
}
.notes_phrase p {
  padding: 5px;
}
.notes_cultural p {
  padding: 5px;
}
/* transcript */
.transcript_container {
  padding: 20px;
  border-bottom: 1px solid var(--color-heading);
}
.transcript_header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px
}
.transcript_content{
  padding: 0 30px;
}
.transcript_introduction{
  padding: 0 30px;
}
.transcript_introduction {
  padding: 10px;
}
.transcript_introduction p {
  padding: 10px;
}
.transcript_dialog {
  padding: 10px;
}
.transcript_dialog p {
  padding: 10px;
}
/* comment */
.comments_container {
  padding: 20px;
}
.comments_header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.comments_content{
  padding: 0 30px;
}
.form_comments {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px auto;
}
.form_input_name {
  width: 50%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  opacity: 0.5;
}
.form_input_email {
  width: 50%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  opacity: 0.5;
}
.form_input_button {
  width: 25%;
  padding: 10px;
  border-radius: 5px;
}
.form_textarea {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}
.comments_item {
  border: solid 0.5px #555;
  border-radius: 7px;
  padding: 10px;
  margin: 15px 0;
  text-align: left;
}
.comments_item_name {
  margin-bottom: 20px;
  font-style: italic;
}
