* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-primary: #ED6789;
  --color-text: #fff;
  --color-heading: #4e4e4e;
  --color-light-black: #afafaf;

  --color-bg: #f9f9f9;

  --font-heading: 'Montserrat', sans-serif;
  --font-logo1: 'Pacifico', sans-serif;
  --font-logo2: 'Splash', sans-serif;

  --size-navigation: 18rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}