.container {
  position: relative;
  min-height: calc(100vh - 4rem);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  .content {
    .comingSoonImg {
      width: 30rem;
      max-width: 100%;
      margin: 0 auto;

      img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .title {
      color: var(--color-primary);
      font-size: 3.2rem;
      font-family: var(--font-heading);
      margin: 1rem 0;
    }

    .noti {
      font-size: 1.5rem;
      color: var(--color-heading);
    }
  }
}
